In [1]:
#import dependencies
import pandas as pd

In [4]:
#import file to dataframe
file_path = r"Assignment_data.xlsx"
df = pd.read_excel(file_path)
df

,ExperimentID,ExperimentName,ExpDefID,SampleType,Source,TreatmentNumber,SampleID,SequenceID,Concentration,Metric,TimePoint,Value
0,EXP_1,Run1,ED0013,Control,Water,5,S0006653,Seq_12,1000.00ng/ul,Percent Mortality,Day_1,0.00
1,EXP_1,Run1,ED0013,Control,Water,5,S0006653,Seq_12,1000.00ng/ul,Percent Mortality,Day_6,25.00
2,EXP_1,Run1,ED0013,Control,Water,5,S0006653,Seq_12,1000.00ng/ul,Percent Mortality,Day_2,6.25
3,EXP_1,Run1,ED0013,Control,Water,5,S0006653,Seq_12,1000.00ng/ul,Percent Mortality,Day_3,18.75
4,EXP_1,Run1,ED0013,Control,Water,5,S0006653,Seq_12,1000.00ng/ul,Percent Mortality,Day_4,18.75
...,...,...,...,...,...,...,...,...,...,...,...,...
145,EXP_6,Run7,ED0013,Sample,Water,3,S0006674,Seq_12,100.00ng/ul,Percent Mortality,Day_6,25.00
146,EXP_6,Run7,ED0013,Sample,Water,3,S0006674,Seq_12,100.00ng/ul,Percent Mortality,Day_2,12.50
147,EXP_6,Run7,ED0013,Sample,Water,3,S0006674,Seq_12,100.00ng/ul,Percent Mortality,Day_3,12.50
148,EXP_6,Run7,ED0013,Sample,Water,3,S0006674,Seq_12,100.00ng/ul,Percent Mortality,Day_4,18.75
149,EXP_6,Run7,ED0013,Sample,Water,3,S0006674,Seq_12,100.00ng/ul,Percent Mortality,Day_5,25.00

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ExperimentID     150 non-null    object
 1   ExperimentName   150 non-null    object
 2   ExpDefID         150 non-null    object
 3   SampleType       150 non-null    object
 4   Source           36 non-null     object
 5   TreatmentNumber  150 non-null    int64
 6   SampleID         150 non-null    object
 7   SequenceID       150 non-null    object
 8   Concentration    150 non-null    object
 9   Metric           150 non-null    object
 10  TimePoint        150 non-null    object
 11  Value            150 non-null    float64
dtypes: float64(1), int64(1), object(10)
memory usage: 14.2+ KB

In [37]:
# Search for duplicates
duplicates = df[df.duplicated()]
duplicates

,ExperimentID,ExperimentName,ExpDefID,SampleType,Source,TreatmentNumber,SampleID,SequenceID,Concentration,Metric,TimePoint,Value
126,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_1,0.00
127,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_6,31.25
128,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_2,6.25
129,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_3,6.25
130,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_4,6.25
131,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_5,12.50

In [41]:
# double check data
check = df.loc[(df['ExperimentID'] == "EXP_5") & (df['SampleID'] == "S0006671")]
check

,ExperimentID,ExperimentName,ExpDefID,SampleType,Source,TreatmentNumber,SampleID,SequenceID,Concentration,Metric,TimePoint,Value
108,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_1,0.00
109,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_6,31.25
110,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_2,6.25
111,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_3,6.25
112,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_4,6.25
113,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_5,12.50
126,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_1,0.00
127,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_6,31.25
128,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_2,6.25
129,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_3,6.25
130,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_4,6.25
131,EXP_5,Run5,ED0013,Sample,NaN,4,S0006671,Seq_5,1000.00ng/ul,Percent Mortality,Day_5,12.50

In [45]:
# drop duplicates
cleaned_df = df.drop_duplicates()
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 0 to 149
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ExperimentID     144 non-null    object
 1   ExperimentName   144 non-null    object
 2   ExpDefID         144 non-null    object
 3   SampleType       144 non-null    object
 4   Source           36 non-null     object
 5   TreatmentNumber  144 non-null    int64
 6   SampleID         144 non-null    object
 7   SequenceID       144 non-null    object
 8   Concentration    144 non-null    object
 9   Metric           144 non-null    object
 10  TimePoint        144 non-null    object
 11  Value            144 non-null    float64
dtypes: float64(1), int64(1), object(10)
memory usage: 14.6+ KB

In [48]:
# Save cleaned df to file
cleaned_df.to_excel('Assignment_data_cleaned.xlsx')